section.section__cards 
    //- mixin cards(clase, titulo, texto, imagen, alt)
    +cards('grow-together', 'Grow Together', 'Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.', 'grow-together', 'dos personas viendo posteos de un foro')
    +cards('flowing-conversations', 'Flowing Conversations', `You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.`, 'flowing-conversation', 'un grupo de personas sentadas conversando al aire libre')
    +cards('your-users', 'Your Users', `It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.`, 'your-users', 'dos personas viendo posteos de un foro')