nav.nav
  .nav__container 
    .nav__logo-container
      a(href="#"): img(src="./assets/logos/logo.svg", alt="Logo de Huddle con una viñeta con tres puntos suspensivos").nav__logo
    .nav__cta-container
      a(href="#").cta-btn--nav Try It Free
