//- MIXINS 

include ../mixins/cards.pug
include ../mixins/contact.pug





//- OBJECTS



//- SECCIONES DEL FOOTER NAV

-
  const secciones = {
    'About Us': 'about-us.html',
    'What We Do': 'what-we-do.html',
    'FAQ': 'faq.html',
    'Career': 'career.html',
    'Blog': 'blog.html',
    'Contact Us': 'contact-us.html'
  }



//- REDES SOCIALES

-
  const socials = {
    'facebook': 'http://facebook.com/huddle',
    'twitter': 'http://twitter.com/huddle',
    'instagram': 'http://instagram.com/huddle'
  }