/*! -------------------------
Header
-------------------------- */

@use "../abstract" as *;

.headerprincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-disabled;
  background-image: url('../assets/bgs/bg-hero-mobile.svg');
  background-size: cover;
  @include tablet {
    background-image: url('../assets/bgs/bg-hero-desktop.svg');
  }
}